@charset "utf-8";
.content{
	width: 850px;
}
.mainBox {
	margin-bottom: -10px;
	overflow: hidden;
	line-height: 1.5;
	font-family: Tahoma, Simsun, sans-serif;
	color: #334e5f;
	font-size: 14px;
}
.data-box {
	margin-bottom: 10px;
	background-color: #fff
}
.data-box table {
	width: 820px;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left
}
.data-box table th {
	background-color: #ccc;
	color: #15689d;
	text-align: right;
	font-weight: bold
}
.data-box table th, .data-box table td {
	padding: 5px 10px 5px 10px;
	border: 1px solid #b3b3b3;
	vertical-align: top
}
.data-box table td:hover {
	background-color: #8ec7e7;
	color: #fff
}
