* {
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	font: 14px/1.5 Tahoma,Arial,simsun,sans-serif;
}
.main {
	overflow: hidden;
}
.siteMap-content {
	float: left;
	margin-left: 50px;
	width: 1370px;
	overflow: hidden;
}
.sys-item {
	/*display: none;*/
}
.sys-item h2{text-align: center;}
.siteMap-manNav, .siteMap-content {
	padding-bottom: 1000px;
	margin-bottom: -1000px;
}
.siteMap-manNav {
	float: left;
	padding-top: 20px;
	margin-left: 20px;
}
.nav-item {
	/*padding:0 40px;*/
	border-left: 6px solid #eee;
	border-right: 6px solid #eee;
	margin-bottom: 5px;
	width: 190px;
	transition: border-color .3s ease 0s, color .3s ease 0s;
	line-height: 40px;
	cursor: pointer;
	text-indent: 40px;
}
.nav-item.cur{
	color: #06c;
	font-weight: bold;
	border-color: #ccc;
}

.sys-pages-list{
	margin:20px 0 0 -10px;
	overflow: hidden;
}

.sys-page-item{
	float: left;
	width: 200px;
	height: 162px;
	overflow: hidden;
	padding: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	background: #f0f0f0;
	/*font-size: 16px;*/
}
.sys-page-item:hover{
	background: #dcdcdc
}
.sys-page-item:hover a{
	background-color: #74a2de;
	color: #fff;
}
.sys-page-item img{
	display: block;
	width: 200px;
	height: 120px;
}
.sys-page-item h6{
	font-size: 16px;
	margin: 2px 0
}
.sys-page-item a{
	padding: 0 5px;
	border-radius: 3px;
	margin-right: 10px;
	font-style: normal;
	color: #888;
	background-color: #ddd;
	text-decoration: none;
}
.sys-page-item a:hover{
	background-color: #ffba14;
}
.overLay{
	display: none;
	position: fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity: 0.5;
	background: #000;
	z-index: 9;
}
.overLay.show{
	display: block;
}
.model_window {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 10;
}
.model_window.show{
	display: block;
}