body{color:#333;}
.main_content {
	position: relative;
	margin-left: 200px;
	height: 2000px;
}
.ct-nav {
	display: none;
	position: fixed;
	top: 3px;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 0 10px;
	background: #E97091;
	min-width: 500px;
	height: 40px;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	z-index: 2
}
.ct-nav a {
	display: inline-block;
	margin: 0 1px;
	padding: 0 15px;
	height: 100%;
}
.ct-nav a:hover {
	text-decoration: none;
	background: #fff;
	border-bottom: 1px solid #E97091;
	color: #333333;
}
.container {
	padding-left: 20px;
	overflow: hidden;
}
.module_type{
	border:1px dashed #ccc;
}
.page_title{
	font-size: 50px;
}
.type_name{
	padding-left: 20px;
	font-size: 26px;
}
.box-example {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin: 15px 0 15px 15px;
	padding: 39px 19px 14px;
	position: relative;
}
.box-example:before {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	border-radius: 4px 0;
	color: #9DA0A4;
	content: "Example";
	font-size: 12px;
	font-weight: bold;
	left: -1px;
	padding: 3px 7px;
	position: absolute;
	top: -1px;
}